.home-section {
  display: flex;
  padding: 120px 0 40px;

  .auto-grid {
    @extend .custom-grid;

    .home-text,
    .home-image {
      padding: 15px;
    }

    .home-text {
      p {
        font-size: 1.1em;
        text-transform: capitalize;
        color: var(--title-color);
        line-height: 0.5;
      }

      h1 {
        font-size: 3em;
        text-transform: capitalize;
        color: var(--first-color);
      }

      h2 {
        text-transform: capitalize;
        font-size: 1.25em;
        color: var(--title-color);
        margin-bottom: 1em;
      }

      .btns {
        margin-top: 1.5em;
        display: flex;
        gap: 0.5em;
      }
    }

    .home-image {
      @extend .header-image;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-bottom: 0;
      box-shadow: var(--main-shadow);
    }
  }
}

//?_______________________
//? Socials Part
//?______________________
.socials {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;

  li {
    background: var(--white-alpha-40);
    width: 38px;
    height: 38px;
    background-color: var(--white-alpha-40);
    border: 1px solid var(--white-alpha-45);
    border-radius: 10px;
    box-shadow: var(--box-shadow-alt);
    cursor: pointer;

    a {
      color: var(--first-color);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
