.home-section {
  display: flex;
  padding: 120px 0 40px;

  .auto-grid {
    @extend .custom-grid;

    .home-text,
    .home-image {
      padding: 15px;
    }

    .home-text {
      p {
        font-size: 1.1em;
        text-transform: capitalize;
        color: var(--title-color);
        line-height: 0.5;
      }

      h1 {
        font-size: 3em;
        text-transform: capitalize;
        color: var(--first-color);
      }

      h2 {
        text-transform: capitalize;
        font-size: 1.25em;
        color: var(--title-color);
        margin-bottom: 1em;
      }

      .btns {
        margin-top: 1.5em;
        display: flex;
        gap: 0.5em;
      }
    }

    .thumbail {
      .home-image {
        position: relative;
        z-index: 2;
        max-width: 470px;
        max-height: 470px;
        margin: auto;
        text-align: center;

        &::before {
          position: absolute;
          content: "";
          max-width: calc(100% - 200px);
          max-height: calc(100% - 200px);
          width: 100%;
          height: 100%;
          z-index: -1;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
          background-color: var(--first-color);
          border-radius: 50%;
          box-shadow: var(--main-shadow);
        }

        &::after {
          position: absolute;
          content: "";
          max-width: calc(100% - 100px);
          max-height: calc(100% - 100px);
          width: 100%;
          height: 100%;
          z-index: -1;
          left: 25%;
          transform: translateX(-25%);
          bottom: 0;
          background-color: var(--first-color-lighter);
          border-radius: 50%;
          z-index: -2;
          box-shadow: var(--main-shadow);

          img {
            vertical-align: middle;
            max-width: 100%;
          }
        }
      }
    }
  }
}
