.section-title {
  flex: 0 0 100%;
  text-align: center;
  max-width: 100%;
  margin-bottom: 2em;
  padding-top: 4em;

  h2 {
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    color: var(--title-color);
    margin: 0;
    letter-spacing: 2px;
    text-shadow: 0 0 10px var(--first-color-alt);
    text-transform: capitalize;

    &::before {
      content: attr(data-heading);
      display: block;
      font-size: 1em;
      color: var(--first-color);
    }
  }

  .box-light {
    position: relative;
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;

    .lightbar {
      position: absolute;
      left: 0;
      top: 0;
      width: 7px;
      height: 100%;
      border-radius: 10px;
      background: white;
      box-shadow: 0 0 10px var(--first-color-second),
        0 0 20px var(--first-color-second), 0 0 40px var(--first-color-second),
        0 0 80px var(--first-color-second), 0 0 120px var(--first-color-second);
      z-index: 2;
      animation: animatelightbar 3s linear;
      transform: scaley(0) translateX(0);
    }

    @keyframes animatelightbar {
      0%,
      5% {
        transform: scaley(0) translateX(0);
      }

      10% {
        transform: scaley(1) translateX(0);
      }

      90% {
        transform: scaley(1) translateX(calc(250px - 7px));
      }

      95%,
      100% {
        transform: scaley(0) translateX(calc(250px - 7px));
      }
    }

    .topLayer {
      position: absolute;
      width: 100%;
      height: 100%;
      background: var(--input-color);
      overflow: hidden;
      animation: animateToplayer 6s linear;
      transform: translateX(-100%);
    }

    @keyframes animateToplayer {
      0% {
        height: 100%;
        transform: translateX(0);
      }

      5% {
        transform: translateX(0);
      }

      45% {
        transform: translateX(100%);
      }

      47.5%,
      50% {
        transform: translateX(100%);
      }

      100% {
        transform: translateX(200%);
      }
    }
  }
}
