@media screen and (max-width: 991px) {
  .midium-display-none {
    display: none;
  }
  .container {
    padding: 0;
  }

  .header {
    .header-top {
      padding: 0 2em;
    }
  }

  .main {
    width: auto;
  }

  .auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(451px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 0 2em;
  }

  .home-section {
    .auto-grid {
      .home-text {
        text-align: center;
        margin: auto;

        .btns {
          justify-content: center;
        }
      }
    }
  }

  .contact-section .auto-grid .contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .skills-section .skills-charts {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
}

@media screen and (max-width: 820px) {
  .section-title {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 768px) {
  .about-section {
    .container {
      .education {
        .timeline {
          &::before {
            left: 25px;
          }
          .timeline-item {
            margin-bottom: 40px;
            &:last-child {
              margin-bottom: 0;
            }
            &:nth-child(even) {
              padding-left: 15px;
              text-align: left;
              padding-left: 75px;

              .icon {
                left: -70px;
              }
            }

            &:nth-child(odd) {
              padding-right: 15px;
              text-align: right;
              padding-left: 75px;
            }

            .timeline-item-inner {
              &::before {
                left: -30px;
                right: auto;
              }
            }
          }
        }
      }

      .experience {
        .timeline {
          &::before {
            left: 26px;
          }

          .timeline-item {
            margin-bottom: 40px;
            &:last-child {
              margin-bottom: 0;
            }
            &:nth-child(even) {
              padding-right: 10px;
              text-align: left;
              padding-left: 75px;

              .icon {
                left: -70px;
              }
            }

            &:nth-child(odd) {
              padding-right: 15px;
              text-align: right;
              padding-left: 75px;
            }

            .timeline-item-inner {
              &::before {
                left: -30px;
                right: auto;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .section-title .box-light .topLayer,
  .section-title .box-light .lightbar {
    display: none;
  }

  .portfolio-popup .pp-inner {
    padding: 40px;
  }
}

@media screen and (max-width: 551px) {
  body {
    padding: 0.5rem;
  }

  .xm-font-13 {
    font-size: 13px !important;
  }

  .xm-font-16 {
    font-size: 1rem !important;
  }

  section.section.active {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  header {
    .nav-toggle {
      width: 40px;
      height: 40px;

      span {
        width: 20px;

        &::after,
        &::before {
          width: 20px;
        }
      }
    }
  }

  .btns {
    flex-wrap: wrap;
  }

  header .logo {
    max-width: 30px;
  }

  .nav__color {
    top: 10%;
  }

  .section-title .box-light {
    width: fit-content;
    height: fit-content;
  }

  .home-section .socials,
  .contact-section .socials {
    justify-content: center;
    position: initial;
    flex-direction: initial;
    transform: initial;
    top: initial;
    right: initial;
  }

  .home-section {
    .home-text {
      h1 {
        font-size: 10vw;
      }

      h2 {
        font-size: 0.9em;
      }
    }
  }

  .about-section .container .about-image .image-box {
    width: 75vw;
    height: 75vw;
  }
  .about-section .experience .timeline .timeline-item .timeline-item-inner,
  .about-section .education .timeline .timeline-item .timeline-item-inner {
    padding: 14px;
  }
  .home-section .auto-grid .home-image .image-box,
  .about-section .about-image .image-box {
    width: auto;
    height: auto;
  }

  .about-section .about-text .tab-content .timeline .timeline-item h4 {
    font-size: 1em;
  }

  .about-section .container .about-text .tab-content .timeline .timeline-item {
    padding: 10px 0 0 20px;
  }

  .custom-btn {
    letter-spacing: initial;
  }

  .portfolio-section .portfolio-items {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

  .portfolio-popup .pp-inner .pp-content .pp-body .general-info li,
  .portfolio-popup .pp-inner .pp-content .pp-body .description {
    letter-spacing: 0;
    font-size: 0.8em;
  }

  .custom-grid,
  .auto-grid,
  .home-section .auto-grid,
  .contact-section .auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
}

@media screen and (max-width: 440px) {
  .home-section .auto-grid .home-text h1 {
    font-size: 2em;
  }

  .custom-grid,
  .auto-grid,
  .home-section .auto-grid,
  .contact-section .auto-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .auto-grid {
    padding: 5px;
  }

  header .nav .nav-inner ul li .nav-link {
    font-size: 1.5em;
  }

  .about-section .about-text p {
    max-width: 288px;
  }

  .portfolio-section .portfolio-items {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .portfolio-popup .pp-inner .pp-content .pp-header h3 {
    margin: 10px;
  }
}

@media screen and (max-width: 380px) {
  .custom-grid,
  .auto-grid {
    padding: 0;
    font-size: 0.75em;
    letter-spacing: initial;
  }

  p {
    line-height: 1.8;
    font-size: 12px;
    letter-spacing: 0;
  }

  .about-section .about-text p {
    max-width: 100%;
  }

  .portfolio-section .portfolio-items {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}
