@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&display=swap");
:root {
  --hue-color: 340;
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --body-color-transparent: hsl(230deg 60% 99% / 20%);
  --container-color: white;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  --white-alpha-45: rgba(255, 255, 255, 0.45);
  --white-alpha-40: rgba(255, 255, 255, 0.4);
  --backdrop-filter-blur: blur(15px);
  --body-font: "Cairo", sans-serif;
  --bigger-font-size: 3.5rem;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  --box-shadow-alt: #0000001a 0px 1px 3px 0px;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  padding: 5vh 15px;
  background-attachment: fixed;
}

body::before {
  position: fixed;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--first-color-alt);
  opacity: 0.12;
  z-index: -1;
}

body.dark-theme {
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: #121212;
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
  --box-shadow: 0 -2px 10px rgb(0 0 0);
  --box-shadow-alt: 0px 1px 1px 0px rgb(0 0 0 / 14%),
            0px 2px 1px -1px rgb(0 0 0 / 12%), 0px 1px 3px 0px rgb(0 0 0 / 20%);
}

body.dark-theme .button {
  background-color: rgba(255, 255, 255, 0.05);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  list-style: none;
}

h1,
h2 {
  font-weight: 600;
}

h3,
h4,
h5 {
  font-weight: 500;
}

textarea {
  resize: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

::-webkit-scrollbar-track {
  background-color: white;
}

section {
  background-color: var(--white-alpha-40);
  border: 1px solid var(--white-alpha-45);
  min-height: 90vh;
  border-radius: 10px;
  -webkit-backdrop-filter: var(--backdrop-filter-blur);
          backdrop-filter: var(--backdrop-filter-blur);
}

section.hidden {
  display: none !important;
}

.main {
  max-width: 1200px;
  margin: auto;
}

.container {
  padding: 0 40px;
  width: 100%;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.custom-btn {
  padding: 5px 10px;
  color: var(--text-color-light);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  background-color: var(--white-alpha-40);
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  display: inline-block;
}

.custom-btn::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: var(--first-color-alt);
  border-radius: 5px;
  vertical-align: middle;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.custom-btn:hover {
  color: white;
}

.custom-btn:hover::before {
  width: 100%;
}

.section-title {
  padding: 2rem 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  text-align: center;
  max-width: 100%;
  margin-bottom: 2rem;
}

.section-title h2 {
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  color: var(--text-color);
  margin: 0;
  letter-spacing: 2px;
  text-shadow: 0 0 10px var(--first-color-alt);
}

.section-title h2::before {
  content: attr(data-heading);
  display: block;
  font-size: 1rem;
  color: var(--first-color);
}

.section-title .box-light {
  position: relative;
  width: 250px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-bottom: 30px;
}

.section-title .box-light .lightbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 7px;
  height: 100%;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 0 0 10px var(--first-color-second), 0 0 20px var(--first-color-second), 0 0 40px var(--first-color-second), 0 0 80px var(--first-color-second), 0 0 120px var(--first-color-second);
          box-shadow: 0 0 10px var(--first-color-second), 0 0 20px var(--first-color-second), 0 0 40px var(--first-color-second), 0 0 80px var(--first-color-second), 0 0 120px var(--first-color-second);
  z-index: 2;
  -webkit-animation: animatelightbar 5s linear infinite;
          animation: animatelightbar 5s linear infinite;
}

@-webkit-keyframes animatelightbar {
  0%,
  5% {
    -webkit-transform: scaley(0) translateX(0);
            transform: scaley(0) translateX(0);
  }
  10% {
    -webkit-transform: scaley(1) translateX(0);
            transform: scaley(1) translateX(0);
  }
  90% {
    -webkit-transform: scaley(1) translateX(calc(250px - 7px));
            transform: scaley(1) translateX(calc(250px - 7px));
  }
  95%,
  100% {
    -webkit-transform: scaley(0) translateX(calc(250px - 7px));
            transform: scaley(0) translateX(calc(250px - 7px));
  }
}

@keyframes animatelightbar {
  0%,
  5% {
    -webkit-transform: scaley(0) translateX(0);
            transform: scaley(0) translateX(0);
  }
  10% {
    -webkit-transform: scaley(1) translateX(0);
            transform: scaley(1) translateX(0);
  }
  90% {
    -webkit-transform: scaley(1) translateX(calc(250px - 7px));
            transform: scaley(1) translateX(calc(250px - 7px));
  }
  95%,
  100% {
    -webkit-transform: scaley(0) translateX(calc(250px - 7px));
            transform: scaley(0) translateX(calc(250px - 7px));
  }
}

.section-title .box-light .topLayer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--input-color);
  overflow: hidden;
  -webkit-animation: animateToplayer 10s linear infinite;
          animation: animateToplayer 10s linear infinite;
}

@-webkit-keyframes animateToplayer {
  0%,
  2.5% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  5% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  45% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  47.5%,
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  50.001%,
  52.5% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  55% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  95% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  97.5%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes animateToplayer {
  0%,
  2.5% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  5% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  45% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  47.5%,
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  50.001%,
  52.5% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  55% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  95% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  97.5%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.home-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 0;
}

.home-section .home-text,
.home-section .home-image {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 15px;
}

.home-section .home-text p {
  font-size: 1.1rem;
  text-transform: capitalize;
  color: var(--text-color);
  line-height: 0.5;
}

.home-section .home-text h1 {
  font-size: 3em;
  text-transform: capitalize;
  color: var(--first-color);
}

.home-section .home-text h2 {
  text-transform: capitalize;
  font-size: 1.25rem;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.home-section .home-text .btns {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.home-section .home-image .image-box {
  max-width: 360px;
  width: 100%;
  height: 360px;
  background-color: var(--white-alpha-40);
  border-radius: 50%;
  border: 8px solid var(--white-alpha-40);
  margin: auto;
}

.home-section .home-image .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.nav__color {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  width: 180px;
  text-align: center;
  position: fixed;
  top: 18%;
  left: -180px;
  -webkit-transition: 0.5s 0.5s cubic-bezier(0.12, 0.33, 0, 1.51);
  transition: 0.5s 0.5s cubic-bezier(0.12, 0.33, 0, 1.51);
  z-index: 100;
}

.nav__color.active {
  left: 5px;
}

.nav__color .colors {
  width: 180px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 0.3rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 80px;
  background-color: var(--white-alpha-40);
  border: 1px solid var(--white-alpha-45);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(6px) saturate(200%);
          backdrop-filter: blur(6px) saturate(200%);
}

.nav__color .colors li {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 1px 7px;
  border: 1px solid var(--body-color-transparent);
}

.nav__color .colors li:nth-child(1) {
  background-color: #57e089;
}

.nav__color .colors li:nth-child(2) {
  background-color: #579ce0;
}

.nav__color .colors li:nth-child(3) {
  background-color: #b257e0;
}

.nav__color .colors li:nth-child(4) {
  background-color: #e05785;
}

.nav__color .nav__color-icon {
  position: absolute;
  right: -48px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--white-alpha-40);
  border: 1px solid var(--white-alpha-45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__color .nav__color-icon .fa-cog {
  color: var(--first-color);
}

.about-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.about-section .container .about-image,
.about-section .container .about-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 100%;
  padding: 0 15px;
}

.about-section .container .about-image {
  width: 40%;
  margin: auto;
}

.about-section .container .about-image .image-box {
  max-width: 380px;
  width: 100%;
  height: 380px;
  background-color: var(--white-alpha-40);
  border-radius: 0.5rem;
  border: 2px solid var(--white-alpha-40);
  margin: auto;
  -webkit-box-shadow: var(--box-shadow-alt);
          box-shadow: var(--box-shadow-alt);
}

.about-section .container .about-image .image-box img {
  width: 100%;
  height: 100%;
}

.about-section .container .about-text {
  width: 60%;
}

.about-section .container .about-text p {
  line-height: 1.8;
  font-size: 1rem;
  color: var(--text-color-light);
  letter-spacing: 1px;
}

.about-section .container .about-text h3 {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  color: var(--text-color);
  font-weight: bold;
  margin-top: 2.2rem;
}

.about-section .container .about-text .skills {
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
}

.about-section .container .about-text .skills .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
}

.about-section .container .about-text .skills .group .skill-item {
  padding: 2px 10px;
  color: var(--text-color-light);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  background-color: var(--white-alpha-40);
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  display: inline-block;
}

.about-section .container .about-text .about-tabs {
  margin-top: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.about-section .container .about-text .about-tabs .tab-item {
  outline: none;
  background: transparent;
  border: none;
  text-transform: capitalize;
  display: inline-block;
  color: var(--text-color);
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  opacity: 0.3;
}

.about-section .container .about-text .about-tabs .tab-item.active {
  opacity: 1;
  color: var(--first-color);
}

.about-section .container .about-text .about-tabs .tab-item.active::before {
  width: 100%;
  background-color: var(--first-color);
}

.about-section .container .about-text .about-tabs .tab-item:hover::before {
  width: 100%;
}

.about-section .container .about-text .about-tabs .tab-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 3px;
  background-color: var(--text-color-light);
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.about-section .container .about-text .tab-content {
  display: none;
  padding: 40px 0;
}

.about-section .container .about-text .tab-content.active {
  display: block;
}

.about-section .container .about-text .tab-content .timeline {
  position: relative;
}

.about-section .container .about-text .tab-content .timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  left: 0;
  top: 5px;
  background-color: var(--first-color);
}

.about-section .container .about-text .tab-content .timeline .timeline-item {
  position: relative;
  margin-bottom: 1.5rem;
  padding: 10px 0 0 40px;
}

.about-section .container .about-text .tab-content .timeline .timeline-item::before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  height: 11px;
  width: 11px;
  border-radius: 50%;
  left: -5px;
  top: 22px;
}

.about-section .container .about-text .tab-content .timeline .timeline-item:last-child {
  margin-bottom: 0;
}

.about-section .container .about-text .tab-content .timeline .timeline-item .date {
  display: block;
  color: var(--first-color);
  font-weight: 400;
  margin-bottom: 10px;
}

.about-section .container .about-text .tab-content .timeline .timeline-item h4 {
  font-size: 1.1rem;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.about-section .container .about-text .tab-content .timeline .timeline-item h4 span {
  font-weight: 300;
}
/*# sourceMappingURL=main.css.map */